.projectTitle{
    font-size: 24px;
    font-weight: 600;
    font-family: "Montserrat",sans-serif;
    color:var(--color-black)
}

@media (min-width: 1025px) {
    .projectTitle{
        font-size: 32px;
    }
}